@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@200;300;400;500;600;700&display=swap');

body{
    background-color: #f1eeee;

}
.ImgApres{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 100%;
    margin-top: 10%;
}
.logo{
    position: relative;
    width: 9%;
    height: 100%;
    left: 2.5%;
    top: 0.5%;
}
.banner{
    position: relative;
    width: 180vh;
    height: 80vh;
    top: 10%;
   
}
.topo{
    height: 8vh;
    width: 100%;
    background-color: #cecece;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.imglogo{
    position: relative;
    width: 100%;
    height: 100%;
    left: 2.5%;
    top: 0.5%;
}
.menu{
    position: relative;
    left: 15.5%;
    bottom: 7vh;
}
.menu ul li{
    position: relative;
    display: inline;
    color: white;   
}
.menu ul li a{
    font-family: "Lexend Exa";
    font-size: medium;
    color: #1a1a1a;
    text-decoration: none;
    padding: 1.5%;
    font-weight: lighter;
}
.menu ul li a:hover{
    color: #5A5FA3;
    transition: 0.3s;
    font-weight: bold;
}
.linha{
    margin-top: 2.85%;
}
.titulo{
    color: white;
    margin-left: 4.2%;
}
.plan{
    color: #1a1a1a;
    text-align: center;
    font-size: 400%;
    font-weight: bold;
    margin-top: 10%;
}
.subplan{
    color: #1a1a1a;
    text-align: center;
    font-size: 200%;
    font-weight: lighter;
    margin-top: -3.8%;
}
.cards{
    margin-left: 10vh;
    margin-top: 1%;
    display: inline-flex;
    gap: 5%;
}
.card{
    background-color: #5A5FA3;
    width: 45vh;
    height: 75vh;
    position: relative;
    gap: 2%;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
}
.card-top{
    background-color: #1a1a1a;
    width: 38.2vh;
    height: 80px;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 12px;
}
.card-text{
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-wrap: initial;
    font-size: 3.5vh;
    top: 5%;
    font-weight: bold;
    overflow: hidden;
}
.txtCard{
    margin: 3%;
    margin-top: 28.5%;
}
.text1{
    font-family: "Lexend Exa";
    color: white;
    font-size: 200%;
    font-weight: bold;
    margin-left: 24%;
    margin-top: 5%;
}
.text2{
    font-family:"Lexend Exa";
    color: white;
    font-size: 190%;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 6%;
}
.textW{
    font-family:"Lexend Exa";
    color: white;
    font-size: 200%;
    font-weight: bold;
    margin-left: 32%;
    margin-top: 5%;
}
.web{
    color: white;
    width: 10.5vh;
    height: 9vh;
    font-weight: lighter;
    margin-left: 2.5%;
    margin-top: 2.5%;
}
.mobile{
    color: white;
    width: 10.5vh;
    height: 9vh;
    font-weight: lighter;
    margin-left: 2.5%;
    margin-top: 2.5%;
}
.sobretxt{
    color:#1a1a1a;
    font-size: 160%;
    font-weight: lighter;
    margin-left: 42vh;
    margin-top: -36.5%;
    width: 60vh;
}
.sobreimg{
    width: 50vh;
    height: 60vh;
    margin-left: 108vh;
    margin-top: 2.5vh;
    margin-bottom: 15vh;
}
#sobre{
    color: #1a1a1a;
    text-align: center;
    font-size: 400%;
    font-weight: bold;
    margin-top: 10%;
}
.Trab{
    color: #1a1a1a;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    margin-top: 10%;
}
.projetos{
    color: #1a1a1a;
    text-align: center;
    font-size: 55%;
    font-weight: lighter;
    margin-top: -8.5%;
}
.trabreal{
     color: #1a1a1a;
    text-align: center;
    font-size: 400%;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 10vh;
}

.trabalhos{
  position: relative;
  height: 70vh;
  width: 40%;
  margin: auto;
  overflow: hidden;
  display: flex;
  left: 10vh;
}
.trabimg{
  height: 70vh;
  width: 100%;

}
.trabalhos-slide{
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.trabalhos-slide img{
  width: 100%;
  flex-shrink: 0;
}
button{
  position: relative;
  top: 50%;
  border: none;
  cursor: pointer;

  z-index: 10;
}
img.prev{
  position: relative;
  left: 1%;
  top: -10%;
  height: 8vh;
  width: 8vh;
  cursor: pointer;
}
img.next{
  position: relative;
  right: 1%;
  height: 6.4vh;
  width: 6.4vh;
  top: -10%;
  cursor: pointer;
}
.trabalho-slide{
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin-top: 5%;
}
.txtSlide{
    position: relative;
    font-family: "Lexend Exa";
    text-align: left;
    color: #1a1a1a;
    font-size: 150%;
    font-weight: bold;
    left: 30vh;
    width: 50vh;
}
.timg{
    width: 110vh;
    height: 50vh;
    margin-left: 10vh;
    margin-top: 5vh;
    margin-bottom: 15vh;
    border: 2px;
}
.rarr{
    width: 8vh;
    height: 8vh;
    margin-left: 2.5vh;
    margin-bottom: 35.5vh;
}
.larr{
    position: absolute;
    width: 8vh;
    height: 8vh;
    margin-left: -2.5vh;
    margin-top: 28vh;
}
.footer{
    margin-bottom: 0%;
}
.redes{
    margin-top: 1%;
    margin-right: 0.3%;
    width: 3%;
    margin-left: 0.5%;
}
.foo{
    font-family: "Lexend Exa";
    font-size: large;
    color: #1a1a1a;
    text-decoration: none;
    margin-left: -1%;
    padding-top: 4px;
    font-weight: lighter;
    margin-left: 0.5%;
}